/*文章区域*/
.post_area {
    width:  50%;
    background: white;
    padding: 1px 15px 20px 20px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 3px;
    border-radius: 10px;
}

/*文章目录*/
.widget-title {
    position: fixed;
    top: 10px;
    right: 11%;
}
    .toc {
        position: fixed;
        top: 70px;
        right: 10%;
        text-align: left;
    }
    .toc a {
        color: black;
    }

/*文章正文*/
.post_body {
    width: 95%;
    background: #f1f3f4;
    margin: 30px auto 0;
    padding: 0 0 0 1.5%;
    border-radius: 10px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

/*文章末尾*/
.post_list_end {
    width: 50%;
    height: 50px;
    margin: 50px auto 0;
}

/*标题链接*/
.post_title a {
    color: black;
    text-decoration: none;
}

    /*文章信息链接*/
    .post_info a {
        color: #58666e;
        padding-right: 5px;
        padding-left: 5px;
        text-decoration: none;
        font-size: 10px;
        font-weight: bold;
    }
    /*文章信息图标*/
    .post_info svg {
        margin-top: 1px;
        color: #58666e;
    }
    /*文章正文*/
    .post_body p {
        font-size: 10px;
        font-weight: bold;
        line-height: 30px;
    }

    /*文章末尾*/
    .post_list_end p {
        color: #58666e;
        font-size: 5px;
        font-weight: bold;
        text-align: center;
    }
