/*文章区域*/
.post_area {
    width:  70%;
    background: white;
    padding: 1px 15px 20px 20px;
    margin: 0 auto;
    position: absolute;
    top: 400px;
    left: 30px;
}

/*文章正文*/
.post_body {
    width: 95%;
    background: #f1f3f4;
    margin: 30px auto 0;
    padding: 0 0 0 1.5%;
}

/*文章末尾*/
.post_list_end {
    width: 70%;
    height: 100px;
    margin: 50px auto 0;
}
/*标题*/
.post_title {
    width: 60%;
    position: absolute;
    left: 70px;
    top: 150px;

}

/*标题链接*/
.post_title a {
    color: #ffffff;
    text-decoration: none;
}

/*文章信息*/
.post_info {
    text-decoration: none;
    position: relative;
    top: 170px;
    left: -70px;
    width: 50%;
}

    /*文章信息链接*/
    .post_info a {
        color: #9f9f9f;
        padding-right: 5px;
        padding-left: 5px;
        text-decoration: none;
        font-size: 10px;
        font-weight: bold;
    }
    /*文章信息图标*/
    .post_info svg {
        margin-top: 1px;
        color: #9f9f9f;
    }
    /*文章正文*/
    .post_body p {
        font-size: 10px;
        font-weight: bold;
        line-height: 30px;
    }

    /*文章末尾*/
    .post_list_end p {
        color: #58666e;
        font-size: 5px;
        font-weight: bold;
        text-align: center;
    }
