{% load static %}
{% load blog_extras %}

<html lang="zh">
<head>
    <meta charset="UTF-8">
    <!--页面标题-->
    <title>
        {% block title %}
            页面标题
        {% endblock %}
    </title>

    <!--通用样式表-->
    <!--主页顶栏-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/top_bar.css' %}">
    <!--背景-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bg.css' %}">
    <!--主页底栏-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bottom_bar.css' %}">
    <!--滚动栏-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/rollbar.css' %}">
    <!--侧边栏-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/side_bar.css' %}">

    <!--专用样式表-->
    {% block custom_css %}
    {% endblock %}

    <!--通用JS-->


    <!--专用JS_top-->
    {% block js_custom_top %}
    {% endblock %}


</head>
<body>

<!--背景-->
<div class="bg">
</div>

<!--导航条-->
<div class="top_bar">
        <ul class="menu">
            <li><a href="{% url 'blog_main:index' %}">
                    <img src="{% static 'img/YNFDB_little.svg' %}"
                        alt="Do not support SVG"
                        width="40px" height="40px">
                </a>
                <ul class="submenu">
                    <li><a href="#">{{ nologin }}</a></li>
                    <li><a href="">{{ login }}</a></li>
                    <li><a href="http://127.0.0.1:8000/admin/">{{ admin }}</a></li>
                </ul></li>
            <li><a>&nbsp;</a></li>
            <li><a>&nbsp;</a></li>
            <li><a>&nbsp;</a></li>
            <li><a>&nbsp;</a></li>
            <li><a>&nbsp;</a></li>
            <li><a>&nbsp;</a></li>
            <li><a>&nbsp;</a></li>
            <li><a>&nbsp;</a></li>

            <li><a href="#">归档</a></li>
            <li><a href="#">分类</a>
                <ul class="submenu">
                    <li><a href="#">one</a></li>
                    <li><a href="#">two</a></li>
                    <li><a href="#">three</a></li>
                    <li><a href="#">four</a></li>
                    <li><a href="#">five</a></li>
                    <li><a href="#">six</a></li>
                </ul>
            </li>
            <li><a href="#">页面</a>
                <ul class="submenu">
                    <li><a href="#">one</a></li>
                    <li><a href="#">two</a></li>
                    <li><a href="#">three</a></li>
                    <li><a href="#">four</a></li>
                    <li><a href="#">five</a></li>
                    <li><a href="#">six</a></li>
                </ul>
            </li>
            <li><a href="#">其他</a></li>
        </ul>

    {% block post_title %}
    {% endblock %}

</div>

<!--页面标题-->
{% block page_title %}
{% endblock %}

<!--文章列表-->
{% block post_list %}
{% endblock %}

<!--文章详情-->
{% block post %}
{% endblock %}

<div class="side_bar">

    <!--文章目录-->
    {% block toc %}
    {% endblock %}

    <!--最新文章-->
    {% show_recent_posts 3 %}

    <!--归档-->
    {% show_archives %}

    <!--分类-->
    {% show_categories %}

    <!--标签云-->
    {% show_tags %}

</div>




<!--底栏-->
<div class="bottom_bar">
    <div class="bottom_bar_inner">
        <span class="bottom_bar_text">
            <a href="#" target="_blank">
                帮助
            </a>
            <a href="#" target="_blank">
                举报
            </a>
            <a href="#" target="_blank">
                反馈
            </a>
            <a href="#" target="_blank">
                分享
            </a>
            <a>Copyright &copy; 2021, YnFDBlog</a>
        </span>
    </div>
</div>

</body>

    <!--专用JS_bottom-->
    {% block js_custom_bottom %}
    {% endblock %}

</html>